header {
    font-weight:bold;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.Slide-deck-1 {
    text-align: center;
}

#first-paragraph{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 20px 200px;
}
#start-quiz {
    background-color: purple;
    padding: 15px;
   text-align:center;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    color: white;
}

#start-quiz:hover{
    background-color: blueviolet;
    text-decoration: underline;
    
}

.questions{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center; 
}

.answer {
    background-color: purple;
    padding: 15px;
   text-align:center;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    color: white; 
    text-align: center;
    display:block;
    justify-content: space-between;
    margin-bottom: 20px;

}

.answer:hover{
    background-color: blueviolet;
    text-decoration: underline;
}

#footer-message {
    color: gray;
    font-style: italic;
    font-size: medium;    
}

#save {
    background-color: purple;
    padding: 15px;
    border-radius: 20px;
    color: white; 
}

#save:hover{
    background-color: blueviolet;
    text-decoration: underline; 
}

#your-score {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

#score-text{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

